# Who owns all the fish by default
* @baptleduc

./uart_helper.c @jamisonderek @baptleduc
./uart_helper.h @jamisonderek @baptleduc
./helper/ble_serial.c @Willy-JL @TheSainEyereg
./helper/ble_serial.h @Willy-JL @TheSainEyereg