# Who owns all the fish by default
* @baptleduc

./helpers/uart_helper.c @jamisonderek @baptleduc
./helpers/uart_helper.h @jamisonderek @baptleduc
./helpers/ble_serial.c @Willy-JL @TheSainEyereg
./helpers/ble_serial.h @Willy-JL @TheSainEyereg