# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored
src/ArduinoIDE/**/*.cpp linguist-language=cpp
src/ArduinoIDE/**/*.h linguist-language=cpp
src/ArduinoIDE/**/*.hpp linguist-language=cpp
src/ArduinoIDE/**/*.ino linguist-language=cpp