# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored

# Arduino IDE files as C++
src/ArduinoIDE/**/*.cpp linguist-language=cpp linguist-vendored=false
src/ArduinoIDE/**/*.h linguist-language=cpp linguist-vendored=false
src/ArduinoIDE/**/*.hpp linguist-language=cpp linguist-vendored=false
src/ArduinoIDE/**/*.ino linguist-language=cpp linguist-vendored=false

# CircuitPython files as Python
src/CircuitPython/**/*.py linguist-language=python linguist-vendored=false

# FlipperZero files as C
src/FlipperZeroApp/**/*.c linguist-language=c linguist-vendored=false
src/FlipperZeroApp/**/*.h linguist-language=c linguist-vendored=false